.tagScore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tagScoreBar {
    width: 50px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin: 0 !important;
}

.tagScoreLabel {
    margin-left: 6px;
}

@media screen and (max-width: 768px) {
    .tagNameColumn {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 0;
    }

    .tagScoreColumn {
        white-space: nowrap;
        width: 0;
    }
}
